{
  "presets": [
    "es2015",
    ...
  ],
  "jest": {
    "roots": [
      "spec/javascript"
    ],
    "moduleDirectories": [
      "node_modules",
      "app/javascript"
    ],
    "setupTestFrameworkScriptFile": "./spec/javascript/setupTests.js"
  }
}
